.card{width:100%; margin-top:30px; display: flex; flex-wrap: wrap; justify-content: center;
  .box{width:200px; min-height: 180px; background-color: #fff; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 border-radius: 6px; padding:5px 20px; margin: 10px 20px; color:#000;
    h4{text-align: center;}
  }
}

